grant {
    permission java.net.SocketPermission "*:1024-65535", "connect,accept,resolve";
    permission java.net.SocketPermission "*:80", "connect,resolve";
    permission java.net.SocketPermission "localhost:8080", "connect,resolve";
    permission java.net.SocketPermission "127.0.0.1:8080", "connect,resolve";
    permission java.io.FilePermission "<<ALL FILES>>", "read,write,execute,delete";
    permission java.util.PropertyPermission "*", "read,write";
    permission java.lang.RuntimePermission "*";
    permission java.security.AllPermission;
};